.login-container {
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    padding: 5;
}
  
.logo-box {
    margin-bottom: 0.5rem;
    img {
        height: 200px;
    }
}
  
.input-box {
    width: 30%;
}
  