.appName {
    position: absolute;
    left: 4.5%;
}

.profile-menu {
    margin-right: 1rem;
}

.profile-button {
    padding: 0.5rem;
}

.navbar-container {
    align-items: center;
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    height: 60px;
}

.logo-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.navbar-logo {
    width: 80px;
    max-height: 100%;
    object-fit: contain;
}

.chat-container {
    margin-top: 1rem;
    padding: 1rem;
    border-width: 1px;
    border-radius: 4px;
    height: 550px;
    overflow-y: auto;
    transition: 0.5s;
}

.empty-chat-prompt {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.message-input-box {
    margin-top: 1rem; 
}

.message-input-flex {
    

    .send-button {
        margin-left: 0.5rem;
        background-color: teal;
        color: white;

        &:hover {
            background-color: darken(teal, 10%); 
        }
    }
}
.message-container {
    margin-top: 4px;
    align-items: center;
    padding: 10px;

    &.self {
        justify-content: flex-end;
        .message-content {
            background-color: #5fc4be;
            box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
        }
    }

    &.other {
        .message-content {
            background-color: #d4ebf2;
            box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
        }
    }

    .username {
        font-weight: bold;
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .timestamp {
        text-align: right;
        font-size: 12px;
    }

    .message-content {
        border-radius: 20px;
        padding: 10px 15px; 
        position: relative; 
        max-width: 50%;
        margin: 0 20px;

        > Text {
            margin-bottom: 5px;
        }
        
        IconButton {
            height: 15px;
            width: 15px;
            padding: 5px;
            margin-top: 5px;
        }
    }
    .neutral-icon-btn {
        background-color: gray.300;

        &:hover {
            background-color: gray.200;
        }
    }

    .upvote-icon-btn {
        background-color: rgba(46, 170, 74, 0.9);
    
        &:hover {
            background-color: rgba(46, 170, 74, 0.5); 
        }
    }
    
    .downvote-icon-btn {
        background-color: rgba(255, 0, 0, 0.7);
        &:hover {
            background-color: rgba(255, 0, 0, 0.5);
        }
    }
}