.appName {
    position: absolute;
    left: 4.5%;
}

.profile-menu {
    margin-right: 1rem;
}

.profile-button {
    padding: 0.5rem;
}

.navbar-container {
    align-items: center;
    padding: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    height: 60px;
}

.logo-container {
    display: flex;
    align-items: center;
    flex: 1;
}

.navbar-logo {
    width: 80px;
    max-height: 100%;
    object-fit: contain;
}

.chat-container {
    margin-top: 1rem;
    padding: 1rem;
    border-width: 1px;
    border-radius: 4px;
    height: 550px;
    overflow-y: auto;
}

.empty-chat-prompt {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.message-input-box {
    margin-top: 1rem; 
}

.message-input-flex {
    

    .send-button {
        margin-left: 0.5rem;
        background-color: teal;
        color: white;

        &:hover {
            background-color: darken(teal, 10%); 
        }
    }
}

.message-container {
    margin-top: 4px;
    align-items: center;
    padding: 10px;

    .username {
        font-weight: bold;
        margin-right: 2px;
    }

    .neutral-icon-btn {
        background-color: gray.300;

        &:hover {
            background-color: gray.200;
        }
    }

    .upvote-icon-btn {
        background-color: rgba(46, 170, 74, 0.9);
    
        &:hover {
            background-color: rgba(46, 170, 74, 0.5); 
        }
    }
    
    .downvote-icon-btn {
        background-color: rgba(255, 0, 0, 0.7);
        &:hover {
            background-color: rgba(255, 0, 0, 0.5);
        }
    }
    
}
